.app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.input-container {
  margin-bottom: 1em;
}

label {
  display: block;
  margin-bottom: 0.5em;
}

input {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  display: inline-block;
  padding: 0.6em 1.2em;
  font-size: 1em;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: border-color 0.25s;
  background-color: #1a1a1a;
  color: white;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.output-container {
  margin-top: 2em;
  color: #888;
}

@media (prefers-color-scheme: light) {
  button {
    background-color: #f9f9f9;
    color: #213547;
  }
}

